<div class="home__container">
	<app-card gameCover="../../../assets/bt-5.jpg" gameLabel="Digital" gameType="Digital | PS4" gamePrice="R$ 699,99"></app-card>
	<app-card gameCover="../../../assets/bt-4.jpg" gameLabel="Exclusivo" gameType="Exclusivo | PS4" gamePrice="R$ 129,99"></app-card>
	<app-card gameCover="../../../assets/bt-1.jpg" gameLabel="Exclusivo" gameType="Exclusivo | PS4" gamePrice="R$ 89,99"></app-card>
	<app-card gameCover="../../../assets/bt-4.jpg" gameLabel="Exclusivo" gameType="Exclusivo | PS4" gamePrice="R$ 129,99"></app-card>
</div>
